[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-pdb-reader
Exec=harbour-pdb-reader
Name=PDB Ebook reader
Name[cs_CZ]=PDB čtečka knih

